.footer_fCShnrKBaJnQsGqM-KywZ {
    left: 888px;
    top: 29px;
    position: absolute;
    height: 33px;
    width: 33px;
    z-index: 4;
    display: block;
    opacity: 1.0;
}

.footer_f-CpliZGGfUT1PVnv42c9 {
    left: 937px;
    top: 29px;
    position: absolute;
    height: 34px;
    width: 33px;
    z-index: 3;
    display: block;
    opacity: 1.0;
}

.footer_fJmN6ZPKG1AURoMjwAnxB {
    left: 0px;
    top: 49px;
    position: absolute;
    padding: 2px;
    width: 936px;
    min-height: 27px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.0px;
    text-align: left;
    color: #696969;
    border-style: solid;
    z-index: 2;
    word-wrap: break-word;
}

.footer_fJmN6ZPKG1AURoMjwAnxB .p0 {
    line-height: 13.0px;
}

.footer_fXjLwfWsHgJRCENpPFFXp {
    left: 0px;
    top: 4px;
    position: absolute;
    height: 1px;
    width: 979px;
    z-index: 1;
}

.footer_fTp8AvURb3P5rj6I7ufhR {
    left: 0px;
    top: 29px;
    position: absolute;
    padding: 2px;
    width: 936px;
    min-height: 27px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.0px;
    text-align: left;
    color: #696969;
    border-style: solid;
    z-index: 0;
    word-wrap: break-word;
}

.footer_fTp8AvURb3P5rj6I7ufhR .p0 {
    line-height: 13.0px;
}

.footer_fTp8AvURb3P5rj6I7ufhR .p0 .c0 {
    text-decoration: underline;
}

.footer_fTp8AvURb3P5rj6I7ufhR .p0 .c1 {}

.footer_fTp8AvURb3P5rj6I7ufhR .p0 .c2 {
    text-decoration: underline;
}

.footer_fTp8AvURb3P5rj6I7ufhR .p0 .c3 {}

.footer_fTp8AvURb3P5rj6I7ufhR .p0 .c4 {
    text-decoration: underline;
}

.footer_fTp8AvURb3P5rj6I7ufhR .p0 .c5 {}

.footer_fTp8AvURb3P5rj6I7ufhR .p0 .c6 {
    text-decoration: underline;
}

.footer_fTp8AvURb3P5rj6I7ufhR .p0 .c7 {}

.footer_fTp8AvURb3P5rj6I7ufhR .p0 .c8 {
    text-decoration: underline;
}

.footer {
    width: 980px;
    height: 70px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 18;
}

.page_home_flfP3FcRCpZaBegWlCsWy {
    left: 17px;
    top: 883px;
    position: absolute;
    height: 10px;
    width: 310px;
    z-index: 114;
    display: block;
    opacity: 1.0;
}

.page_home_f3s2WVn8x8P0CNcxCBcIk {
    left: 346px;
    top: 1785px;
    position: absolute;
    padding: 2px;
    width: 295px;
    min-height: 34px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 34.0px;
    text-align: center;
    color: #ffffff;
    border-style: solid;
    z-index: 113;
    word-wrap: break-word;
}

.page_home_f3s2WVn8x8P0CNcxCBcIk .p0 {
    line-height: 34.0px;
}

.page_home_f3s2WVn8x8P0CNcxCBcIk .p0 .c0 {}

.page_home_fBeG-aDARkg-X8Bt76yJT {
    left: 670px;
    top: 1785px;
    position: absolute;
    padding: 2px;
    width: 255px;
    min-height: 43px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 17px;
    line-height: 19.0px;
    text-align: left;
    color: #ffffff;
    border-style: solid;
    z-index: 112;
    word-wrap: break-word;
}

.page_home_fBeG-aDARkg-X8Bt76yJT .p0 {
    font-weight: 700;
    line-height: 24.0px;
}

.page_home_fBeG-aDARkg-X8Bt76yJT .p0 .c0 {}

.page_home_fBeG-aDARkg-X8Bt76yJT .p1 {
    font-weight: 400;
    line-height: 24.0px;
}

.page_home_fBeG-aDARkg-X8Bt76yJT .p1 .c0 {}

.page_home_fFfjVidCjZSLf_-lCb9xP {
    left: 18px;
    top: 1785px;
    position: absolute;
    padding: 2px;
    width: 295px;
    min-height: 67px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 17px;
    line-height: 19.0px;
    text-align: left;
    color: #ffffff;
    border-style: solid;
    z-index: 111;
    word-wrap: break-word;
}

.page_home_fFfjVidCjZSLf_-lCb9xP .p0 {
    font-weight: 700;
    line-height: 24.0px;
}

.page_home_fFfjVidCjZSLf_-lCb9xP .p0 .c0 {}

.page_home_fFfjVidCjZSLf_-lCb9xP .p1 {
    font-weight: 400;
    line-height: 24.0px;
}

.page_home_fFfjVidCjZSLf_-lCb9xP .p1 .c0 {}

.page_home_fFfjVidCjZSLf_-lCb9xP .p2 {
    font-weight: 400;
    line-height: 24.0px;
}

.page_home_fFfjVidCjZSLf_-lCb9xP .p2 .c0 {}

.page_home_fTYWvpq-Y7PNRVnYBmhOT {
    left: 5px;
    top: 1771px;
    position: absolute;
    height: 97px;
    width: 974px;
    z-index: 110;
    border-width: 0px;
    border-style: solid;
    border-color: #aaaaaa;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #028802;
    background-color: rgba(2, 136, 2, 0.9);
}

.page_home_fVObdjMGLCfGKDj1NmMn4 {
    left: 17px;
    top: 1333px;
    position: absolute;
    height: 200px;
    width: 310px;
    z-index: 109;
    display: block;
    opacity: 1.0;
}

.page_home_fe3YMHHFib6GiSekC1NYD {
    left: 30px;
    top: 1701px;
    position: absolute;
    z-index: 108;
    color: #cccccc;
    background-color: #028802;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
    display: inline-block;
    padding: 7px 15px 7px 10px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.0px;
    text-align: center;
}

.page_home_fe3YMHHFib6GiSekC1NYD:hover {
    color: #ffffff;
    background-color: #666666;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
}

.page_home_fCEGDsoNExymq27QxUfZu {
    left: 30px;
    top: 1586px;
    position: absolute;
    padding: 2px;
    width: 279px;
    min-height: 104px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.0px;
    text-align: left;
    color: #ffffff;
    border-style: solid;
    z-index: 107;
    word-wrap: break-word;
}

.page_home_fCEGDsoNExymq27QxUfZu .p0 {
    line-height: 22.0px;
}

.page_home_fCEGDsoNExymq27QxUfZu .p0 .c0 {}

.page_home_fD6vqDu9U39QMICU0HkAC {
    left: 30px;
    top: 1545px;
    position: absolute;
    padding: 2px;
    width: 316px;
    min-height: 31px;
    font-family: Cabin;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.0px;
    text-align: left;
    color: #fdf3c3;
    border-style: solid;
    z-index: 106;
    word-wrap: break-word;
}

.page_home_fD6vqDu9U39QMICU0HkAC .p0 {
    line-height: 30.0px;
}

.page_home_fD6vqDu9U39QMICU0HkAC .p0 .c0 {}

.page_home_fpexPgKT9B0iqdADWvNgI {
    left: 17px;
    top: 1528px;
    position: absolute;
    height: 232px;
    width: 309px;
    z-index: 105;
    border-style: solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #000000;
}

.page_home_fyAXZFRg9KIr3uSLZGdmg {
    left: 672px;
    top: 1701px;
    position: absolute;
    z-index: 104;
    color: #cccccc;
    background-color: #028802;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
    display: inline-block;
    padding: 7px 15px 7px 10px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.0px;
    text-align: center;
}

.page_home_fyAXZFRg9KIr3uSLZGdmg:hover {
    color: #ffffff;
    background-color: #666666;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
}

.page_home_fEnH7oYFgDR1hPGAL95zv {
    left: 672px;
    top: 1587px;
    position: absolute;
    padding: 2px;
    width: 279px;
    min-height: 82px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.0px;
    text-align: left;
    color: #ffffff;
    border-style: solid;
    z-index: 103;
    word-wrap: break-word;
}

.page_home_fEnH7oYFgDR1hPGAL95zv .p0 {
    line-height: 22.0px;
}

.page_home_fEnH7oYFgDR1hPGAL95zv .p0 .c0 {}

.page_home_fEnH7oYFgDR1hPGAL95zv .p1 {
    line-height: 22.0px;
}

.page_home_fEnH7oYFgDR1hPGAL95zv .p1 .c0 {}

.page_home_fEnH7oYFgDR1hPGAL95zv .p2 {
    line-height: 22.0px;
}

.page_home_fEnH7oYFgDR1hPGAL95zv .p2 .c0 {}

.page_home_fEnH7oYFgDR1hPGAL95zv .p3 {
    line-height: 22.0px;
}

.page_home_fEnH7oYFgDR1hPGAL95zv .p3 .c0 {}

.page_home_fkv2OTTeeo7WAQ0HX4Ttq {
    left: 360px;
    top: 1701px;
    position: absolute;
    z-index: 102;
    color: #cccccc;
    background-color: #028802;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
    display: inline-block;
    padding: 7px 15px 7px 10px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.0px;
    text-align: center;
}

.page_home_fkv2OTTeeo7WAQ0HX4Ttq:hover {
    color: #ffffff;
    background-color: #666666;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
}

.page_home_fv3_20CyOpo431GCp3_6f {
    left: 341px;
    top: 1333px;
    position: absolute;
    height: 200px;
    width: 304px;
    z-index: 101;
    border-style: solid;
}

.page_home_f1ig75bbUo8RGZUjO7huS {
    left: 356px;
    top: 1587px;
    position: absolute;
    padding: 2px;
    width: 279px;
    min-height: 99px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.0px;
    text-align: left;
    color: #ffffff;
    border-style: solid;
    z-index: 100;
    word-wrap: break-word;
}

.page_home_f1ig75bbUo8RGZUjO7huS .p0 {
    line-height: 22.0px;
}

.page_home_f1ig75bbUo8RGZUjO7huS .p0 .c0 {}

.page_home_f1ig75bbUo8RGZUjO7huS .p1 {
    line-height: 17.0px;
}

.page_home_f1ig75bbUo8RGZUjO7huS .p1 .c0 {}

.page_home_f1ig75bbUo8RGZUjO7huS .p2 {
    line-height: 22.0px;
}

.page_home_f1ig75bbUo8RGZUjO7huS .p2 .c0 {}

.page_home_f68IToS9r37lQJ8jqpEdi {
    left: 353px;
    top: 1545px;
    position: absolute;
    padding: 2px;
    width: 316px;
    min-height: 31px;
    font-family: Cabin;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.0px;
    text-align: left;
    color: #fdf3c3;
    border-style: solid;
    z-index: 99;
    word-wrap: break-word;
}

.page_home_f68IToS9r37lQJ8jqpEdi .p0 {
    line-height: 30.0px;
}

.page_home_f68IToS9r37lQJ8jqpEdi .p0 .c0 {}

.page_home_f7dF0LO5xIESxQtok-tQ2 {
    left: 660px;
    top: 1333px;
    position: absolute;
    height: 199px;
    width: 309px;
    z-index: 98;
    display: block;
    opacity: 1.0;
}

.page_home_f2HMeNiqZtyymLKi6LnUU {
    left: 673px;
    top: 1131px;
    position: absolute;
    padding: 2px;
    width: 279px;
    min-height: 61px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.0px;
    text-align: left;
    color: #ffffff;
    border-style: solid;
    z-index: 97;
    word-wrap: break-word;
}

.page_home_f2HMeNiqZtyymLKi6LnUU .p0 {
    line-height: 22.0px;
}

.page_home_f2HMeNiqZtyymLKi6LnUU .p0 .c0 {}

.page_home_f0nRh4O_YvWg138Onhh2N {
    left: 672px;
    top: 1545px;
    position: absolute;
    padding: 2px;
    width: 316px;
    min-height: 31px;
    font-family: Cabin;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.0px;
    text-align: left;
    color: #fdf3c3;
    border-style: solid;
    z-index: 96;
    word-wrap: break-word;
}

.page_home_f0nRh4O_YvWg138Onhh2N .p0 {
    line-height: 30.0px;
}

.page_home_f0nRh4O_YvWg138Onhh2N .p0 .c0 {}

.page_home_f7imblWG930xckN_x6NpW {
    left: 659px;
    top: 1528px;
    position: absolute;
    height: 232px;
    width: 311px;
    z-index: 95;
    border-style: solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #000000;
}

.page_home_fcQlRqwHzYW6C5WVSmMZ_ {
    left: 341px;
    top: 880px;
    position: absolute;
    height: 200px;
    width: 304px;
    z-index: 94;
    border-style: solid;
}

.page_home_fvBSwzVZSOKxEekJOAaG4 {
    left: 30px;
    top: 1249px;
    position: absolute;
    z-index: 93;
    color: #cccccc;
    background-color: #028802;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
    display: inline-block;
    padding: 7px 15px 7px 10px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.0px;
    text-align: center;
}

.page_home_fvBSwzVZSOKxEekJOAaG4:hover {
    color: #ffffff;
    background-color: #565656;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
}

.page_home_fIkqYlcWlJFjwZVR5n94d {
    left: 30px;
    top: 1131px;
    position: absolute;
    padding: 2px;
    width: 278px;
    min-height: 82px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.0px;
    text-align: left;
    color: #ffffff;
    border-style: solid;
    z-index: 91;
    word-wrap: break-word;
}

.page_home_fIkqYlcWlJFjwZVR5n94d .p0 {
    line-height: 22.0px;
}

.page_home_fIkqYlcWlJFjwZVR5n94d .p0 .c0 {}

.page_home_f5OvABZIGd0yEi8aTdznW {
    left: 353px;
    top: 1094px;
    position: absolute;
    padding: 2px;
    width: 279px;
    min-height: 31px;
    font-family: Cabin;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.0px;
    text-align: left;
    color: #fdf3c3;
    border-style: solid;
    z-index: 90;
    word-wrap: break-word;
}

.page_home_f5OvABZIGd0yEi8aTdznW .p0 {
    line-height: 30.0px;
}

.page_home_f5OvABZIGd0yEi8aTdznW .p0 .c0 {}

.page_home_frEcPOOHBZ0IEi0pKAk2A {
    left: 824px;
    top: 653px;
    position: absolute;
    height: 79px;
    width: 97px;
    z-index: 88;
    display: block;
    opacity: 1.0;
}

.page_home_fo6xuYwUOLyWE_Rvx47sE {
    left: 825px;
    top: 399px;
    position: absolute;
    height: 337px;
    width: 204px;
    z-index: 87;
    display: block;
    opacity: 1.0;
}

.page_home_fFn3t8k6VHkIrhTstu20E {
    left: 733px;
    top: 731px;
    position: absolute;
    height: 29px;
    width: 60px;
    z-index: 86;
    display: block;
    opacity: 1.0;
}

.page_home_f4cqlroFIaWeA1sSiWTch {
    left: 189px;
    top: 731px;
    position: absolute;
    height: 28px;
    width: 60px;
    z-index: 80;
    display: block;
    opacity: 1.0;
}

.page_home_f4nUcxWTRes4XcAJdF2lr {
    left: 673px;
    top: 1094px;
    position: absolute;
    padding: 2px;
    width: 316px;
    min-height: 31px;
    font-family: Cabin;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.0px;
    text-align: left;
    color: #fdf3c3;
    border-style: solid;
    z-index: 79;
    word-wrap: break-word;
}

.page_home_f4nUcxWTRes4XcAJdF2lr .p0 {
    line-height: 30.0px;
}

.page_home_f4nUcxWTRes4XcAJdF2lr .p0 .c0 {}

.page_home_f22vN9iJ2P93BHaKWF6vp {
    left: 30px;
    top: 1094px;
    position: absolute;
    padding: 2px;
    width: 270px;
    min-height: 31px;
    font-family: Cabin;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.0px;
    text-align: left;
    color: #fdf3c3;
    border-style: solid;
    z-index: 78;
    word-wrap: break-word;
}

.page_home_f22vN9iJ2P93BHaKWF6vp .p0 {
    line-height: 30.0px;
}

.page_home_f22vN9iJ2P93BHaKWF6vp .p0 .c0 {}

.page_home_fO6XNZgJA2ny1Iau99dvQ {
    left: 17px;
    top: 1075px;
    position: absolute;
    height: 232px;
    width: 310px;
    z-index: 74;
    border-style: solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #000000;
}

.page_home_fG1edUWm-B4Qt-z4Ms0pg {
    left: 118px;
    top: 783px;
    position: absolute;
    padding: 2px;
    width: 773px;
    min-height: 44px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 19.0px;
    text-align: center;
    color: #ffffff;
    border-style: solid;
    z-index: 72;
    word-wrap: break-word;
}

.page_home_fG1edUWm-B4Qt-z4Ms0pg .p0 {
    line-height: 25.0px;
}

.page_home_fG1edUWm-B4Qt-z4Ms0pg .p0 .c0 {}

.page_home_fDDz4xHtXIaWiT0iiOrbw {
    left: 261px;
    top: 716px;
    position: absolute;
    padding: 2px;
    width: 456px;
    min-height: 126px;
    font-family: Playball;
    font-size: 50px;
    font-weight: 400;
    line-height: 63.0px;
    text-align: left;
    color: #fdf3c3;
    border-style: solid;
    z-index: 69;
    word-wrap: break-word;
}

.page_home_fDDz4xHtXIaWiT0iiOrbw .p0 {
    line-height: 63.0px;
}

.page_home_fDDz4xHtXIaWiT0iiOrbw .p0 .c0 {}

.page_home_fyk7c9G2NSmoJVd-u02Yn {
    left: 5px;
    top: 705px;
    position: absolute;
    height: 154px;
    width: 974px;
    z-index: 68;
    border-width: 0px;
    border-style: solid;
    border-color: #aaaaaa;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #028802;
    background-color: rgba(2, 136, 2, 0.9);
}

.page_home_f0DgUoEBBlvoXH5fSje1P {
    left: 990px;
    top: 538px;
    position: absolute;
    height: 190px;
    width: 310px;
    z-index: 67;
    border-width: 0px;
    border-style: solid;
    border-color: #aaaaaa;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #94d156;
}

.page_home_fY6VpnXUIHkC5Hykhx0rr {
    left: 673px;
    top: 1249px;
    position: absolute;
    z-index: 66;
    color: #cccccc;
    background-color: #028802;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
    display: inline-block;
    padding: 7px 15px 7px 10px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.0px;
    text-align: center;
}

.page_home_fY6VpnXUIHkC5Hykhx0rr:hover {
    color: #ffffff;
    background-color: #666666;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
}

.page_home_f7m5m_LG28EetFg_xrgW9 {
    left: 360px;
    top: 1249px;
    position: absolute;
    z-index: 65;
    color: #cccccc;
    background-color: #028802;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
    display: inline-block;
    padding: 7px 15px 7px 10px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.0px;
    text-align: center;
}

.page_home_f7m5m_LG28EetFg_xrgW9:hover {
    color: #ffffff;
    background-color: #666666;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border-style: solid;
}

.page_home_fRZGaN9CRQVexQQI90wVb {
    left: 356px;
    top: 1131px;
    position: absolute;
    padding: 2px;
    width: 279px;
    min-height: 61px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.0px;
    text-align: left;
    color: #ffffff;
    border-style: solid;
    z-index: 63;
    word-wrap: break-word;
}

.page_home_fRZGaN9CRQVexQQI90wVb .p0 {
    line-height: 22.0px;
}

.page_home_fRZGaN9CRQVexQQI90wVb .p0 .c0 {}

.page_home_fKWHFENNbgzg3HNeMmPyG {
    left: 5px;
    top: 159px;
    position: absolute;
    height: 576px;
    width: 980px;
    z-index: 62;
    border-style: solid;
}

.page_home_fRz-SD2cMmz3l6F4Szc5J {
    left: 660px;
    top: 881px;
    position: absolute;
    height: 200px;
    width: 310px;
    z-index: 51;
    display: block;
    opacity: 1.0;
}

.page_home_fsFsy0l-J2nuJ62xulWpR {
    left: 340px;
    top: 1075px;
    position: absolute;
    height: 232px;
    width: 305px;
    z-index: 48;
    border-style: solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #000000;
}

.page_home_fwOsLABv6u7703Cgrskiq {
    left: 660px;
    top: 1075px;
    position: absolute;
    height: 232px;
    width: 311px;
    z-index: 46;
    border-style: solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #000000;
}

.page_home_fB9r9l3U_uAU9JlOgiXZB {
    left: 341px;
    top: 1528px;
    position: absolute;
    height: 232px;
    width: 304px;
    z-index: 45;
    border-style: solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #000000;
}

.page_home_f_Xa5S8pK5PoYGrqCsKqu {
    left: 5px;
    top: 859px;
    position: absolute;
    height: 1003px;
    width: 975px;
    z-index: 44;
    border-style: solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #3e0911;
}

.master_ffeLle3RNCsugu3c7KxTR {
    left: 587px;
    top: 70px;
    position: absolute;
    padding: 2px;
    width: 384px;
    min-height: 43px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.0px;
    text-align: right;
    color: #000000;
    border-style: solid;
    z-index: 17;
    word-wrap: break-word;
}

.master_ffeLle3RNCsugu3c7KxTR .p0 {
    line-height: 22.0px;
}

.master_ffeLle3RNCsugu3c7KxTR .p0 .c0 {}

.master_ffeLle3RNCsugu3c7KxTR .p1 {
    line-height: 22.0px;
}

.master_ffeLle3RNCsugu3c7KxTR .p1 .c0 {}

.master_fzActTuAkAaoZv82-uS0D {
    left: 14px;
    top: 24px;
    position: absolute;
    padding: 2px;
    width: 276px;
    min-height: 70px;
    font-family: Special Elite;
    font-size: 20px;
    font-weight: 400;
    line-height: 20.0px;
    text-align: left;
    border-style: solid;
    z-index: 16;
    word-wrap: break-word;
}

.master_fzActTuAkAaoZv82-uS0D .p0 {
    line-height: 25.0px;
    color: #ae2908;
}

.master_fzActTuAkAaoZv82-uS0D .p0 .c0 {}

.master_fzActTuAkAaoZv82-uS0D .p1 {
    line-height: 25.0px;
    color: #028802;
}

.master_fzActTuAkAaoZv82-uS0D .p1 .c0 {}

.master_fzActTuAkAaoZv82-uS0D .p2 {
    line-height: 25.0px;
    color: #ae2908;
}

.master_fzActTuAkAaoZv82-uS0D .p2 .c0 {}

.master_fAefOd6XhTSiT3XWvVPxv {
    left: 342px;
    top: 7px;
    position: absolute;
    height: 109px;
    width: 296px;
    z-index: 13;
    display: block;
    opacity: 1.0;
}

.master_f33rgEu1G1qU6S1EVghVO {
    left: 661px;
    top: 37px;
    position: absolute;
    padding: 2px;
    width: 310px;
    min-height: 32px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 30.0px;
    text-align: right;
    color: #e30e0e;
    border-style: solid;
    z-index: 10;
    word-wrap: break-word;
}

.master_f33rgEu1G1qU6S1EVghVO .p0 {
    line-height: 30.0px;
}

.master_f33rgEu1G1qU6S1EVghVO .p0 .c0 {}

.master_fc7CjWDn69nAA1vSsxsm2 {
    left: 198px;
    top: 120px;
    position: absolute;
}

.master_fc7CjWDn69nAA1vSsxsm2 .menuItem {
    padding: 0 0 0px 0;
}

.master_fc7CjWDn69nAA1vSsxsm2.horizontal .menuItem {
    padding: 0 0px 0 0;
}

.master_fc7CjWDn69nAA1vSsxsm2.horizontal .subMenu {
    padding-top: 0px;
}

.master_fc7CjWDn69nAA1vSsxsm2 .menuItem .menuItemDesign {
    background-color: #e30e0e;
    background-color: rgba(227, 14, 14, 0.0);
    border-style: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    color: #ffffff;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.0px;
    text-align: left;
    padding: 10px;
    width: auto;
}

.master_fc7CjWDn69nAA1vSsxsm2>.menuItem:hover>.menuItemDesign,
.master_fc7CjWDn69nAA1vSsxsm2 .selected.menuItem:hover .menuItemDesign {
    background-color: #028802;
    border-style: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    color: #ffffff;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.0px;
    text-align: left;
}

.master_fc7CjWDn69nAA1vSsxsm2 .selected .menuItemDesign {
    background-color: #028802;
    border-style: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    color: #ffffff;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.0px;
    text-align: left;
}

.master_fc7CjWDn69nAA1vSsxsm2 .subMenu {
    padding: 0px;
}

.master_fc7CjWDn69nAA1vSsxsm2 .subMenu ul {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #2b3a4e;
    border-style: solid;
    overflow: hidden;
}

.master_fc7CjWDn69nAA1vSsxsm2 .subMenu .subMenuItem .subMenuItemDesign {
    border: none;
    padding: 12px 15px;
    background-clip: border-box;
    color: #ffffff;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.0px;
    text-align: left;
}

.master_fc7CjWDn69nAA1vSsxsm2 .subMenu .selected.subMenuItem .subMenuItemDesign {
    background-color: #bed5ed;
    color: #2b3a4e;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.0px;
    text-align: left;
}

.master_fc7CjWDn69nAA1vSsxsm2 .subMenu .subMenuItem:hover .subMenuItemDesign {
    background-color: #c60045;
    color: #ffffff;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.0px;
    text-align: left;
}

.master_fau8rpga8JFc7zspsz9bR {
    left: 777px;
    top: 3px;
    position: absolute;
    z-index: 6;
    color: #ffffff;
    background-color: #028802;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    border-style: solid;
    display: inline-block;
    padding: 3px 21px 3px 21px;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.0px;
    text-align: center;
}

.master_fau8rpga8JFc7zspsz9bR:hover {
    color: #ffffff;
    background-color: #339900;
    background-color: rgba(51, 153, 0, 0.53);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    border-style: solid;
}

.pageContent {
    position: relative;
    float: left;
    overflow: hidden;
    width: 980px;
    min-height: 1250px;
    border-style: solid;
}

.pageOffset {
    position: relative;
    float: left;
    width: 1px;
    margin-bottom: -1000px;
    height: 50%;
}

.pagePadding {
    width: auto;
    min-width: 980px;
    clear: both;
    padding: 0px 0px 30px 0px;
}

.pageAlignment {
    position: relative;
    margin: 0px auto;
    width: 980px;
    min-height: 1200px;
    z-index: 0;
}

body {
    background-color: #540a17;
    background-image: url('communities/2/000/001/375/732/images/14503043.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}

.page_location_fnBuFQctAVulxC6TMxB_w {
    left: 5px;
    top: 462px;
    position: absolute;
    height: 45px;
    width: 640px;
    z-index: 39;
    border-style: solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #028802;
    background-color: rgba(2, 136, 2, 0.9);
}

.page_location_fKKE74bh0HwRl2Sq7AEXp {
    left: 3px;
    top: 160px;
    position: absolute;
    height: 300px;
    width: 640px;
    z-index: 38;
    display: block;
    opacity: 1.0;
}

.page_location_fXEYaIKDLLhfLUpPtLD3H {
    left: 14px;
    top: 762px;
    position: absolute;
    padding: 2px;
    width: 476px;
    min-height: 61px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    font-size: 15px;
    line-height: 17.0px;
    text-align: left;
    color: #ffffff;
    border-style: solid;
    z-index: 37;
    word-wrap: break-word;
}

.page_location_fXEYaIKDLLhfLUpPtLD3H .p0 {
    font-weight: 700;
    line-height: 22.0px;
}
