    .footer_fCShnrKBaJnQsGqM-KywZ {
      left: 888px;
      top: 29px;
      position: absolute;
      height: 33px;
      width: 33px;
      z-index: 4;
      display: block;
      opacity: 1.0;
    }

    .footer_f-CpliZGGfUT1PVnv42c9 {
      left: 937px;
      top: 29px;
      position: absolute;
      height: 34px;
      width: 33px;
      z-index: 3;
      display: block;
      opacity: 1.0;
    }

    .footer_fJmN6ZPKG1AURoMjwAnxB {
      left: 0px;
      top: 49px;
      position: absolute;
      padding: 2px;
      width: 936px;
      min-height: 27px;
      font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 13.0px;
      text-align: left;
      color: #696969;
      border-style: solid;
      z-index: 2;
      word-wrap: break-word;
    }

    .footer_fJmN6ZPKG1AURoMjwAnxB .p0 {
      line-height: 13.0px;
    }

    .footer_fJmN6ZPKG1AURoMjwAnxB .p0 .c0 {}

    .footer_fXjLwfWsHgJRCENpPFFXp {
      left: 0px;
      top: 4px;
      position: absolute;
      height: 1px;
      width: 979px;
      z-index: 1;
    }

    .footer_fTp8AvURb3P5rj6I7ufhR {
      left: 0px;
      top: 29px;
      position: absolute;
      padding: 2px;
      width: 936px;
      min-height: 27px;
      font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 13.0px;
      text-align: left;
      color: #696969;
      border-style: solid;
      z-index: 0;
      word-wrap: break-word;
    }

    .footer_fTp8AvURb3P5rj6I7ufhR .p0 {
      line-height: 13.0px;
    }

    .footer_fTp8AvURb3P5rj6I7ufhR .p0 .c0 {
      text-decoration: underline;
    }

    .footer_fTp8AvURb3P5rj6I7ufhR .p0 .c1 {}

    .footer_fTp8AvURb3P5rj6I7ufhR .p0 .c2 {
      text-decoration: underline;
    }

    .footer_fTp8AvURb3P5rj6I7ufhR .p0 .c3 {}

    .footer_fTp8AvURb3P5rj6I7ufhR .p0 .c4 {
      text-decoration: underline;
    }

    .footer_fTp8AvURb3P5rj6I7ufhR .p0 .c5 {}

    .footer_fTp8AvURb3P5rj6I7ufhR .p0 .c6 {
      text-decoration: underline;
    }

    .footer_fTp8AvURb3P5rj6I7ufhR .p0 .c7 {}

    .footer_fTp8AvURb3P5rj6I7ufhR .p0 .c8 {
      text-decoration: underline;
    }

    .footer {
      width: 980px;
      height: 100px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      z-index: 18;
    }

    .page_full-menu_fkYVx9kLv0ULORej_Nx7A {
      left: 1px;
      top: 6734px;
      position: absolute;
      height: 1624px;
      width: 974px;
      z-index: 76;
      display: block;
      opacity: 1.0;
    }

    .page_full-menu_fxxL6TuMWLYylSzmYFBxw {
      left: 1px;
      top: 8383px;
      position: absolute;
      height: 1624px;
      width: 974px;
      z-index: 75;
      display: block;
      opacity: 1.0;
    }

    .page_full-menu_f2nziD8CUoWDMbmNoYW41 {
      left: 0px;
      top: 5087px;
      position: absolute;
      height: 1624px;
      width: 974px;
      z-index: 74;
      display: block;
      opacity: 1.0;
    }

    .page_full-menu_fah4F_Y05U-A4w1nM4mFi {
      left: -1px;
      top: 3443px;
      position: absolute;
      height: 1624px;
      width: 974px;
      z-index: 73;
      display: block;
      opacity: 1.0;
    }

    .page_full-menu_ffWEFsmsfJ6ThSlgw4DQk {
      left: -1px;
      top: 1799px;
      position: absolute;
      height: 1624px;
      width: 974px;
      z-index: 72;
      display: block;
      opacity: 1.0;
    }

    .page_full-menu_fCiw93VzdviIR1mCVczDw {
      left: -1px;
      top: 151px;
      position: absolute;
      height: 1624px;
      width: 974px;
      z-index: 71;
      display: block;
      opacity: 1.0;
    }

    .master_ffeLle3RNCsugu3c7KxTR {
      left: 587px;
      top: 70px;
      position: absolute;
      padding: 2px;
      width: 384px;
      min-height: 43px;
      font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 20.0px;
      text-align: right;
      color: #000000;
      border-style: solid;
      z-index: 17;
      word-wrap: break-word;
    }

    .master_ffeLle3RNCsugu3c7KxTR .p0 {
      line-height: 22.0px;
    }

    .master_ffeLle3RNCsugu3c7KxTR .p0 .c0 {}

    .master_ffeLle3RNCsugu3c7KxTR .p1 {
      line-height: 22.0px;
    }

    .master_ffeLle3RNCsugu3c7KxTR .p1 .c0 {}

    .master_fzActTuAkAaoZv82-uS0D {
      left: 14px;
      top: 24px;
      position: absolute;
      padding: 2px;
      width: 276px;
      min-height: 70px;
      font-family: Special Elite;
      font-size: 20px;
      font-weight: 400;
      line-height: 20.0px;
      text-align: left;
      border-style: solid;
      z-index: 16;
      word-wrap: break-word;
    }

    .master_fzActTuAkAaoZv82-uS0D .p0 {
      line-height: 25.0px;
      color: #ae2908;
    }

    .master_fzActTuAkAaoZv82-uS0D .p0 .c0 {}

    .master_fzActTuAkAaoZv82-uS0D .p1 {
      line-height: 25.0px;
      color: #028802;
    }

    .master_fzActTuAkAaoZv82-uS0D .p1 .c0 {}

    .master_fzActTuAkAaoZv82-uS0D .p2 {
      line-height: 25.0px;
      color: #ae2908;
    }

    .master_fzActTuAkAaoZv82-uS0D .p2 .c0 {}

    .master_fAefOd6XhTSiT3XWvVPxv {
      left: 342px;
      top: 7px;
      position: absolute;
      height: 109px;
      width: 296px;
      z-index: 13;
      display: block;
      opacity: 1.0;
    }

    .master_f33rgEu1G1qU6S1EVghVO {
      left: 661px;
      top: 37px;
      position: absolute;
      padding: 2px;
      width: 310px;
      min-height: 32px;
      font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
      font-size: 27px;
      font-weight: 700;
      line-height: 30.0px;
      text-align: right;
      color: #e30e0e;
      border-style: solid;
      z-index: 10;
      word-wrap: break-word;
    }

    .master_f33rgEu1G1qU6S1EVghVO .p0 {
      line-height: 30.0px;
    }

    .master_f33rgEu1G1qU6S1EVghVO .p0 .c0 {}

    .master_fc7CjWDn69nAA1vSsxsm2 {
      left: 198px;
      top: 120px;
      position: absolute;
    }

    .master_fc7CjWDn69nAA1vSsxsm2 .menuItem {
      padding: 0 0 0px 0;
    }

    .master_fc7CjWDn69nAA1vSsxsm2.horizontal .menuItem {
      padding: 0 0px 0 0;
    }

    .master_fc7CjWDn69nAA1vSsxsm2.horizontal .subMenu {
      padding-top: 0px;
    }

    .master_fc7CjWDn69nAA1vSsxsm2 .menuItem .menuItemDesign {
      background-color: #e30e0e;
      background-color: rgba(227, 14, 14, 0.0);
      border-style: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      border-radius: 0px;
      color: #ffffff;
      font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
      font-size: 15px;
      font-weight: 700;
      line-height: 17.0px;
      text-align: left;
      padding: 10px;
      width: auto;
    }

    .master_fc7CjWDn69nAA1vSsxsm2>.menuItem:hover>.menuItemDesign,
    .master_fc7CjWDn69nAA1vSsxsm2 .selected.menuItem:hover .menuItemDesign {
      background-color: #028802;
      border-style: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      border-radius: 0px;
      color: #ffffff;
      font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
      font-size: 15px;
      font-weight: 700;
      line-height: 17.0px;
      text-align: left;
    }

    .master_fc7CjWDn69nAA1vSsxsm2 .selected .menuItemDesign {
      background-color: #028802;
      border-style: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      border-radius: 0px;
      color: #ffffff;
      font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
      font-size: 15px;
      font-weight: 700;
      line-height: 17.0px;
      text-align: left;
    }

    .master_fc7CjWDn69nAA1vSsxsm2 .subMenu {
      padding: 0px;
    }

    .master_fc7CjWDn69nAA1vSsxsm2 .subMenu ul {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      border-radius: 0px;
      background-color: #2b3a4e;
      border-style: solid;
      overflow: hidden;
    }

    .master_fc7CjWDn69nAA1vSsxsm2 .subMenu .subMenuItem .subMenuItemDesign {
      border: none;
      padding: 12px 15px;
      background-clip: border-box;
      color: #ffffff;
      font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 17.0px;
      text-align: left;
    }

    .master_fc7CjWDn69nAA1vSsxsm2 .subMenu .selected.subMenuItem .subMenuItemDesign {
      background-color: #bed5ed;
      color: #2b3a4e;
      font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 17.0px;
      text-align: left;
    }

    .master_fc7CjWDn69nAA1vSsxsm2 .subMenu .subMenuItem:hover .subMenuItemDesign {
      background-color: #c60045;
      color: #ffffff;
      font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 17.0px;
      text-align: left;
    }

    .master_fau8rpga8JFc7zspsz9bR {
      left: 777px;
      top: 3px;
      position: absolute;
      z-index: 6;
      color: #ffffff;
      background-color: #028802;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      border-radius: 25px;
      border-style: solid;
      display: inline-block;
      padding: 3px 21px 3px 21px;
      font-family: PT Sans;
      font-size: 18px;
      font-weight: 400;
      line-height: 23.0px;
      text-align: center;
    }

    .master_fau8rpga8JFc7zspsz9bR:hover {
      color: #ffffff;
      background-color: #339900;
      background-color: rgba(51, 153, 0, 0.53);
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      border-radius: 25px;
      border-style: solid;
    }

    .pageContent {
      position: relative;
      float: left;
      overflow: hidden;
      width: 980px;
      min-height: 2000px;
      border-style: solid;
    }

    .pageOffset {
      position: relative;
      float: left;
      width: 1px;
      margin-bottom: -5090px;
      height: 50%;
    }

    .pagePadding {
      width: auto;
      min-width: 980px;
      clear: both;
      padding: 0px 0px 30px 0px;
    }

    .pageAlignment {
      position: relative;
      margin: 0px auto;
      width: 980px;
      min-height: 2000px;
      z-index: 0;
    }

    body {
      background-color: #540a17;
      background-image: url('../communities/2/000/001/375/732/images/14503043.jpg');
      background-repeat: no-repeat;
      background-position: center top;
    }